.dog-digest-single {

    &.americanBully {

        .dog-digest-hero-section {

            .main-dog-container {
                margin-top: -38vh !important;
                width: 60vh !important;

                @include media("<desktop") {
                    width: 50vh !important;
                    margin-top: -33vh !important;
                }

                @include media("<tablet") {
                    width: 80% !important;
                    margin-left: unset !important;
                    margin-top: -8vh !important;
                }

                @include media("<phone") {
                    margin-top: -4vh !important;
                }
            }

            .about-container {
                width: 49vh !important;

                @include media("<desktop") {
                    width: 43vh !important;
                }

                @include media("<tablet") {
                    width: 100% !important;
                    margin-right: unset !important;
                }
            }

            .extra-element-a-container {
                display: none;
            }

            .extra-element-b-container {
                width: 30vh;
                top: 60vh;
                left: -10vh;
            }

            .extra-element-c-container {
                width: 40vh;
                top: 36vh;
                right: -10vh;            
            }
        }

        .physical-needs-section {

            #starEnergyLevel {
                left: calc(80% - 10%)
            }

            #starPotentialPlayfulness {
                left: calc(100% - 10%)
            }

            #starExerciseNeeds {
                left: calc(80% - 10%)
            }

            #starIntensity {
                left: calc(100% - 10%)
            }
        }
    }
}

