.dog-digest-single {

    &.labradorRetriever {

        .physical-needs-section {

            #starEnergyLevel {
                left: calc(100% - 10%)
            }

            #starPotentialPlayfulness {
                left: calc(100% - 10%)
            }

            #starExerciseNeeds {
                left: calc(100% - 10%)
            }

            #starIntensity {
                left: calc(100% - 10%)
            }
        }
    }
}

