//color
$color-white: #FFFFFF;
$color-black: #000;
$color-blue: #17479D;
$color-new-blue: #1F51AD;
$color-orange: #F5821F;
$color-darker-gray: #525252;
$color-dark-gray: #8F8F8F;
$color-lighter-gray: #bebebe;
$color-light-gray: #F2F2F2;
$color-lower-gray: #E2E2E2;
$color-weird-gray: #D0D0D0;
$color-input-gray: #e5e5e5;
$color-brown: #784c11;
$color-light-brown: #FFF5F0;
$color-light-blue: #F2F7FF;
$color-lighter-blue: #D3D9F0;
$color-red: #DA3C53;


$quick-sand: 'Quicksand', sans-serif;
$montser: 'Montserrat', sans-serif;
$lucky: 'Luckiest Guy', sans-serif;

//font size
// $h1-font-size: 56px !default;
// $h2-font-size: 56px !default;
// $h3-font-size: 48px !default;
// $h4-font-size: 32px !default;
// $h5-font-size: 20px !default; 
// $h6-font-size: 18px !default;

$h1-font-size: 32px !default;
$h2-font-size: 30px !default;
$h3-font-size: 26px !default; 
$h4-font-size: 20px !default;
$h5-font-size: 18px !default;
$h6-font-size: 16px !default;

$h1-font-size-tablet: 28px !default;
$h2-font-size-tablet: 22px !default;
$h3-font-size-tablet: 20px !default;
$h4-font-size-tablet: 18px !default;
$h5-font-size-tablet: 16px !default;
$h6-font-size-tablet: 14px !default;

$h1-font-size-mobile: 22px !default;
$h2-font-size-mobile: 20px !default;
$h3-font-size-mobile: 18px !default;
$h4-font-size-mobile: 16px !default;
$h5-font-size-mobile: 14px !default;
$h6-font-size-mobile: 13px !default;

$h1-font-size-xs-mobile: 20px !default;
$h2-font-size-xs-mobile: 18px !default;
$h3-font-size-xs-mobile: 16px !default;
$h4-font-size-xs-mobile: 14px !default;
$h5-font-size-xs-mobile: 12px !default;
$h6-font-size-xs-mobile: 11px !default;

// Font Weight
$fw-100: 100;
$fw-thin: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-800: 800;
$fw-bolder: 900;


