@keyframes accordion {
    from { 
        height: 0;
        overflow: hidden;
    }
    to {
        height: 40vh;
        overflow: scroll; 
     }
}

@keyframes anim {
    from { top: 0 }
    to { top: 50px }
}

@keyframes moving {
    from { transform: scale(0) }
    to { transform: scale(1) }
}

.protect-page {
  
    .protect-page-heading-section {
        
        .product-page-heading-content-container {
            text-align: center;
            max-width: 780px;
            margin: auto;
            padding: 50px;

            h1 {
                color: $color-blue;
            }

            h6 {
                padding: 20px 0;
            }
        }
    }

    .protect-page-content-section {
        padding: 50px;

        .next-button {
            text-align: center;
            width: 100%;
            padding: 10px 0;

            button {
                width: 100%;
                background-color: $color-lower-gray;
                color: $color-dark-gray;
                border: 1px solid $color-lower-gray;
                transition: all .2s ease-in-out;
                pointer-events: none;

                &.enable {
                    background-color: $color-orange;
                    color: $color-white;
                    border: 1px solid $color-orange;
                    pointer-events: initial;

                    &:hover {
                        background-color: $color-white;
                        color: $color-orange;
                    }
                }
            }

        }

        .protect-page-content-container {
            // display: flex;
            // justify-content: space-between;
            // gap: 20px;
            width: 50%;
            margin: auto;

            .protect-page-animation-container {

                // .protect-animation-image {
                //     display: flex;
                //     position: relative;

                //     &.stick {
                //         position: fixed;
                //         top: 110px;
                //     }

                //     .chunky-image-container {
                //         z-index: 99;

                //         img {
                //             width: 400px;
                //         }
                //     }

                //     .selected-product-container {
                //         position: absolute;
                //         display: flex;
                //         flex-wrap: wrap;
                //         gap: -5px;

                //         img {
                //             width: 100px;
                //             height: 110px;
                //             position: absolute;

                //             &:nth-child(1) {
                //                 z-index: 9;
                //                 top: 20px;
                //                 left: 100px;
                //                 filter: drop-shadow(0px 5px 5px #0000);    
                //                 // animation-name: moving;
                //                 // animation-duration: 1s;
                //                 // animation-timing-function: ease-in-out;                           
                //             }

                //             &:nth-child(2) {
                //                 z-index: 7;
                //                 top: 35px;
                //                 left: 185px;
                //                 filter: drop-shadow(0px 5px 5px #0000);
                //                 // animation-name: moving;
                //                 // animation-duration: 1s;
                //                 // animation-timing-function: ease-in-out;  
                //             }

                //             &:nth-child(3) {
                //                 z-index: 8;
                //                 top: 20px;
                //                 left: 260px;
                //                 transform: rotate(10deg);
                //                 filter: drop-shadow(0px 5px 5px #0000);
                //             }

                //             &:nth-child(4) {
                //                 z-index: 4;
                //                 top: -40px;
                //                 left: 140px;
                //                 transform: rotate(355deg);
                //                 filter: drop-shadow(0px 5px 5px #0000);
                //             }

                //             &:nth-child(5) {
                //                 z-index: 6;
                //                 top: -40px;
                //                 left: 210px;
                //                 transform: rotate(5deg);
                //                 filter: drop-shadow(0px 5px 5px #0000);
                //             }

                //             &:nth-child(6) {
                //                 z-index: 5;
                //                 top: -40px;
                //                 left: 70px;
                //                 transform: rotate(350deg);
                //                 filter: drop-shadow(0px 5px 5px #0000);
                //             }

                //             &:nth-child(7) {
                //                 z-index: 3;
                //                 top: -40px;
                //                 left: 260px;
                //                 transform: rotate(10deg);
                //                 filter: drop-shadow(0px 5px 5px #0000);
                //             }

                //             &:nth-child(8) {
                //                 z-index: 2;
                //                 top: -110px;
                //                 left: 170px;
                //                 filter: drop-shadow(0px 5px 5px #0000);
                //             }

                //             &:nth-child(9) {
                //                 z-index: 1;
                //                 top: -100px;
                //                 left: 230px;
                //                 transform: rotate(10deg);
                //                 filter: drop-shadow(0px 5px 5px #0000);
                //             }

                //             &:nth-child(10) {
                //                 z-index: 0;
                //                 top: -100px;
                //                 left: 100px;
                //                 transform: rotate(350deg);
                //                 filter: drop-shadow(0px 5px 5px #0000);
                //             }
                //         }

                       
                //     }
                // }
            }

            .protect-page-product-main-container {
                .step-main-container {
                    border-top: 1px solid $color-black;
                    padding: 20px 0; 

                    .step-subheading {
                        padding: 20px 0;
                    } 

                    .accordion-content-container {
                        &.active {
                            height: auto;
                            overflow: hidden;
                            transition: all .5s ease-in-out;
                        }

                        &.inactive {
                            height:0;
                            overflow: hidden;
                            transition: all .5s ease-in-out;
                        }
                    }
                }

                .first-step-main-container {
                    
                    .first-step-container {
                        &::-webkit-scrollbar {display:none;}


                        .delivery-option-button-container {
                            display: flex;
                            justify-content: space-around;
                            gap: 30px;
                            
                            .delivery-button-container {
                                width: 100%;

                                button {
                                    width: 100%;
                                    background-color: $color-white;
                                    color: $color-blue;
                                    border: 1px solid $color-blue;
                                    transition: all .2s ease-in-out;
                                }

                                .only-hover {

                                    &:hover {
                                        background-color: $color-light-blue;
                                    }
                                }

                                .no-hover-clicked {
                                    background-color: $color-blue;
                                    color: $color-white;
                                }
    
                                .delivery-button-subheading {
                                    text-align: center;
                                    padding: 20px 0;
                                    width: 80%;
                                    margin: auto;
                                }
                            }
                        }
                    }
                }

                .second-step-main-container {
                    
                    .second-step-monthly-container {
                        .product-items-container {
                            width: 100%;
                            max-width: 700px;
                        }

                        .product-item-container {
                            margin-bottom: 20px;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            justify-content: space-between;

                            .product-name-container {
                                letter-spacing: 0;

                                span {
                                    font-size: 14px;
                                    margin-right: 20px;
                                    display: inline-block;
                                    color: #BBB;
                                    letter-spacing: 0;
                                }
                            }

                            .product-input-container {
                                text-align: center;
                                display: flex;
                                align-items: center;
                                flex-direction: row-reverse;

                                .add-button, .remove-button {
                                    cursor: pointer;
                                    width: 50px;
                                    margin-bottom: 2px;
                                }

                                h6 {
                                    line-height: 1;
                                }
                            }
                        }

                        .custom-container {

                            .month-button-container { 
                                border-top: 1px solid $color-black;
                                padding: 20px 0;
                                // pointer-events: none;
                                opacity: 0.3;

                                &.enabled {
                                    pointer-events: initial;
                                    opacity: 1;
                                }

                                .month-details {
                                    span {
                                        font-size: 14px;
                                        margin-right: 20px;
                                        display: inline-block;
                                        color: #BBB;
                                    }
                                }
                            }
        
                            .product-list-container { 

                                &.active {
                                    height: auto;
                                    overflow: hidden;
                                    transition: all .5s ease-in-out;
                                }
        
                                &.inactive {
                                    height: 0;
                                    overflow: hidden;
                                    transition: all .5s ease-in-out;
                                }
                                    
                                .product-with-subheading-container {

                                    .monthly-subheading-container {
                                        padding-bottom: 20px;
                                
                                    }

                                    .product-item-container {
                                        .specific-product-container {
                                            margin: 5px 0;
                                            transition: all .2s ease-in-out;
                                            padding: 0 10px;
                                            border-radius: 10px;

                                            &.bordered {
                                                margin: 5px 8px 5px -8px;

                                                .specific-product-content {
                                                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                                }
                                            }

                                            &.only-hover {

                                                &:hover {
                                                    margin: 5px 8px 5px -8px;

                                                    .specific-product-content {
                                                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                                    }
                                                }
                                            }

                                            .specific-product-content {
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;

                                                .product-image-container {
                                                    padding: 0 20px 0 0;
                    
                                                    img {
                                                        width: 50px;
                                                    }
                                                }
                    
                                                .product-name-container {
                                                    width: 300px;
                                                }
                    
                                                .product-input-container {

                                                    p {
                                                        font-size: 20px;
                                                    }
                                                    
                                                    input {
                                                        width: 100px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .regular-container {

                            .product-list-container {  
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                margin-bottom: 10px;

                                .specific-product-container {
                                    margin: 5px 0;
                                    transition: all .2s ease-in-out;
                                    padding: 0 10px;
                                    border-radius: 10px;
                                    
                                    &.bordered {
                                        margin: 5px 8px 5px -8px;

                                        .specific-product-content {
                                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                        }
                                    }

                                    &.only-hover {

                                        &:hover {
                                            margin: 5px 8px 5px -8px;

                                            .specific-product-content {
                                                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                                            }
                                        }
                                    }

                                    .specific-product-content {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        .product-image-container {
                                            padding: 0 20px 0 0;
            
                                            img {
                                                width: 50px;
                                            }
                                        }
            
                                        .product-name-container {
                                            width: 300px;
                                        }
            
                                        .product-input-container {
                                            
                                            input {
                                                width: 100px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .third-step-main-container {

                    .accordion-content-container {
                            
                        .step-subheading {

                        }

                        .calendar-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .week-button-container {

                                .button-container {
                                    padding: 5px 0;

                                    &.inactive {
                                        
                                        button {
                                            padding: 5px 20px;
                                            font-size: $h5-font-size;
                                            border: 1px solid $color-dark-gray;
                                            background-color: $color-weird-gray;
                                            color: $color-dark-gray;


                                            &:hover {
                                                background-color: $color-light-gray;
                                            }
                                        }
                                    }

                                    &.active {

                                        button {
                                            padding: 5px 20px;
                                            font-size: $h5-font-size;
                                            background-color: $color-blue;
                                            border: 1px solid $color-blue;
                                            color: $color-white;
                                        }
                                    }
                                }
                            }

                            .calendar-image-container {
                                position: relative;
                                display: flex;
                                align-items: center;

                                img {
                                    width: 300px;
                                }

                                .circle-image {
                                    position: absolute;
                                    height: 30px;
                                    width: 200px;
                                    border: 2.5px red solid;
                                    border-radius: 100px / 20px;

                                    &.week-one {
                                        right: 65px;
                                        top: 85px;
                                    }

                                    &.week-two {
                                        right: 70px;
                                        top: 110px;
                                    }

                                    &.week-three {
                                        right: 75px;
                                        top: 135px;
                                    }

                                    &.week-four {
                                        right: 80px;
                                        top: 155px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes slide {
    from { transform: translateX(100%) }
    to { transform: translateX(0) }
}

.protect-page-modal-container {
    position: fixed;
    background-color: $color-white;
    width: 50vw;
    height: 100%;
    top: 0;
    right: 0;
    animation-name: slide;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    z-index: 9999999;
    overflow: scroll;
    
    &::-webkit-scrollbar {display:none;}

    .protect-page-modal-heading {
        display: flex;
        text-align: center;
        justify-content: space-between;
        background-color: $color-blue;
        padding: 20px 50px;
        color: $color-white;

        .heading-container {

        }
    }

    .protect-page-modal-content {
        padding: 0 80px 50px 80px;

        .modal-subtitle-content {
            display: flex;
        }

        .selected-product-content {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;

            .image-container {

                img {
                    width: 120px;
                }
            }

            .product-name-container {
                width: 300px;
            }
        }
        
    }
}