.delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);

    .content {
        width: 100%;
        max-width: 500px;
        background: white;
        border-radius: 5px;

        .header, p, .actions {
            padding: 20px 20px;
        }

        p {
            border-top: solid 1px #DDD;
            border-bottom: solid 1px #DDD;
            font-weight: 300;
        }

        .header {
            padding: 10px 20px;
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                display: inline-flex;
                color: #DDD;
            }

            h4 {
                font-weight: 600;
                font-size: 14px;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 20px;
            padding-bottom: 20px;

            button {
                border: 0;
                background: black;
                letter-spacing: 0;
                font-size: 14px;
                width: 100%;
                max-width: 120px;
                border-radius: 5px;
                height: 35px;

                &:first-child {
                    background-color: #ae3434;
                    color: white;
                }

                &:last-child {
                    background-color: #DDD;
                }
            }
        }
    }
}