.terms-and-condition {
    padding: 50px 0;

    .terms-and-condition-container {

        .heading-container {
            text-align: center;
            padding-bottom: 50px;
            color: $color-blue;
        }

        .main-content {
            padding: 20px 0;

            .sub-heading {
                padding-bottom: 10px;
            }

            ol {
                padding-top: 10px;

                li {
                    list-style-type: decimal !important;
                }

                .membership-list-second-layer {
                    padding-top: 0;
                    
                    li {
                        list-style-type: upper-alpha !important;
                    }
                }
            }
        }
    }
}